<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>MESSAGES</h1>
        <% console.log(messages) %>
        <ul>
            <% messages.forEach(message => { %>
            <li>
                <h4><%= message.user %></h4>
                <p><%= message.message %></p>
            </li>
            <% }) %>
        </ul>
    </body>
</html>
